*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    color: blueviolet;
    margin: auto;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h1{
    margin-top: 50px;
    font-size: 2.5em;
}
p{
    line-height: 40px;
}
button{
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    background-color: rgb(186, 140, 229);
}

/* media queries */
@media (max-width: 765px){
    body{
        background-color: blueviolet;
        color: azure;
        width: 100%;
    }
    h1{
        font-size: 2em;
    }
    button{
        background-color: antiquewhite;
        color: blueviolet;
    }
}

@media (min-width:765px) and (max-width: 1280px){
    body{
        background-color: rgb(233, 227, 239);
        color: rgb(244, 105, 6);
        width: 90%;
    }
    h1{
        font-size: 2.3em;
    }
    button{
        background-color: rgb(238, 138, 7);
        color: rgb(2, 36, 12);
    }

}